<ul class="nav justify-content-start">
    <li class="nav-item ">
    <a class="nav-link active ps-0" aria-current="page" href="/admin/restaurants">Restaurants</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/users">Users</a>
  </li>
</ul>